.apiadv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
    background-color: rgba(232, 231, 231, 0.645);
    margin-top: 5%;
}

.apiadv-api {
    display: flex;
    flex-direction: column;
    background-image: url('../../assets/bg-shorten-desktop.svg');
    background-color: hsl(258, 16%, 21%);
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 35px;
    border-radius: 15px;
    align-items: center;
    text-align: center;
    margin-top: -7%;
    margin-bottom: 10%;
}

.apiadv-api form {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.apiadv-api button,
.apiadv-api input {
    margin: 0;
}

.apiadv-api input {
    width: 70%;
    border-radius: 10px;
    padding: 5px;
    font-family: var(--font-family);
    font-weight: 700;
    text-align: left;
    margin-right: 10px;
    border: none;
}

.apiadv-api input::placeholder {
    padding: 10px;
}

.apiadv-api input:focus {
    text-indent: 10px;
}


#apiadv-b {
    background-color: hsl(180, 66%, 49%);
    outline: none;
    border: none;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 0.9rem 2rem;

    font-family: var(--font-family);
    font-size: 15px;
    font-weight: 600;
}

#apiadv-b:hover {
    background-color: hsla(258, 27%, 26%, 0);
    border: 1px solid #FFFFFF;
}

.apiadv-text {
    text-align: center;
    width: 50%;
    padding-top: 4rem;
}

.apiadv-text h2 {
    color: hsl(0, 0%, 24%);
}

.apiadv-text h3 {
    color: hsl(0, 0%, 58%);
}

.apiadv-card {
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    margin-bottom: 70px;
}

.card1, .card2, .card3 {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 2.5rem;
    box-shadow: 10px 10px 20px 1px rgba(97, 97, 97, 0.5);
    height: 100%;
    border-radius: 15px;
    width: 100%;
}

.card2 {
    margin-top: 5%;
}

.card3 {
    margin-top: 10%;
}

.card-con {
    width: 8rem;
    height: 0.5rem;
    background-color: hsl(180, 66%, 49%);
    align-items: center;
    justify-content: center;
}

.card-img img {
    height: 40px;
    width: 40px;
}

.card-img {
    background-color: hsl(257, 27%, 26%);
    width: fit-content;
    padding: 1rem 1.2rem;
    border-radius: 60px;
    margin-top: -27%;
    margin-bottom: 30px;
}

#con1 {
    margin-top: 15%;
}

#con2 {
    margin-top: 20%;
}

.apiadv-card h3 {
    color: hsl(0, 0%, 58%);
    font-size: 16px;
    margin-top: 18px;
}

.form_api_bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    border-radius: 10px;
    margin-top: 2%;
    height: fit-content;
}

.form_api_bar_item {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px;
    justify-content: space-between;
    background-color: #FFFFFF;
    align-items: center;
    padding: 0.4rem;
    border-radius: 10px;
    height: fit-content;
}

.form_api_bar_item h3 {
    color: hsl(0, 0%, 58%);
    font-size: 16px;
}

.copy_btn {
    background-color: hsl(180, 66%, 49%);
    outline: none;
    border: none;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 0.3rem;
    font-family: var(--font-family);
    font-size: 15px;
    font-weight: 600;
    width: 5rem;
}

.copy_btn:hover {
    background-color: hsl(259, 26%, 17%);
}

.link_btn {
    background-color: #FFFFFF;
    outline: none;
    border: none;
    font-family: var(--font-family);
    font-size: 15px;
    font-weight: 600;
    width: 80%;
    color: hsl(0, 0%, 24%);
}

.clear_btn {
    background-color: hsl(180, 66%, 49%);
    outline: none;
    border: none;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 0.5rem 1rem;

    font-family: var(--font-family);
    font-size: 15px;
    font-weight: 600;
}

.clear_btn:hover {
    background-color: hsl(259, 26%, 17%);
}


@media screen and (max-width: 1050px) {
    .apiadv-api {
        flex-direction: column;
    }

    .apiadv-api form {
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }

    #apiadv-b {
        margin-top: 10px;
    }


    .apiadv-api input {
        width: 100%;
        padding: 15px;
    }

    #con1, #con2 {
        margin: 0;
        height: 70px;
        width: 10px;
    }

    .apiadv-card {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .card-img {
        margin-top: -10%;
    }

    .card2, .card3 {
        margin-top: 0;
    }

    .card1, .card2, .card3 {
        height: 100%;
        width: 100%;
        align-items: center;
    }

    .form_api_bar{
        width: 100%;

    }
    .form_api_bar_item {
        padding: 0.2rem 3rem;
    }


}

@media screen and (max-width: 750px) {


    .card-img {
        margin-top: -15%;
    }

    .apiadv-text {
        width: 100%;
        margin-bottom: 50px;
    }

    .apiadv-text h3 {
        font-size: 15px;
    }
    
    .apiadv-api button,
    .apiadv-api input {
        width: 100%;
    }

    .form_api_bar_item {
        flex-direction: column;
        padding: 0.6rem 1rem;
    }

}

@media screen and (max-width: 500px) {
    .card-img {
        margin-top: -20%;
    }

    .form_api_bar_item {
        padding: 0.2rem;
    }
}

@media screen and (max-width: 400px) {
    .form_api_bar_item h3 {
        font-size: 12px;
        width: min-content;
    }

    .form_api_bar button {
        font-size: 12px;
    }
    
}

@media screen and (max-width: 376px) {
    .card-img {
        margin-top: -30%;
    }
    .apiadv-api {
        padding: 25px;
    }
    .card1, .card2, .card3 {
        padding: 1.5rem;
    }

    .card1 h3, .card2 h3, .card3 h3 {
        font-size: 14px;
    }
}